@font-face {
  font-family: Playfair;
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Playfair;
  src: url("../fonts/PlayfairDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: Playfair;
  src: url("../fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: Playfair;
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: Playfair;
  src: url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: Playfair;
  src: url("../fonts/PlayfairDisplay-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: Playfair;
  src: url("../fonts/PlayfairDisplay-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: Playfair;
  src: url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: Playfair;
  src: url("../fonts/PlayfairDisplay-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: Playfair;
  src: url("../fonts/PlayfairDisplay-Black.woff2") format("woff2");
}
@font-face {
  font-family: Playfair;
  src: url("../fonts/PlayfairDisplay-BlackItalic.woff2") format("woff2");
}
