.primary-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  line-height: 21.33px;
  letter-spacing: 0.02em;
  background-color: $nileBlue;
  color: $sand;
}
